@model Controle_Estoque_Mvc.Models.Entrada

@{
    ViewData["Title"] = "Create";
}

<h1 class=" text-center">Adicionar Produto</h1>


<hr />
<form asp-action="Create">
    <div class="row">
    

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-4">
                <label asp-for="Lote" class="control-label"></label>
                <input asp-for="Lote" class="form-control" />
                <span asp-validation-for="Lote" class="text-danger"></span>
            </div>
            <div class="form-group col-8">
                <label asp-for="NomeProduto" class="control-label"></label>
                <input asp-for="NomeProduto" class="form-control" />
                <span asp-validation-for="NomeProduto" class="text-danger"></span>
            </div>
           
    </div>
    <div class="row">

            <div class="form-group col-2">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            
            <div class="form-group col-3 mx-auto">
                <label asp-for="Recebimento" class="control-label"></label>
                <input asp-for="Recebimento" class="form-control" />
                <span asp-validation-for="Recebimento" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="Validade" class="control-label"></label>
                <input asp-for="Validade" class="form-control" />
                <span asp-validation-for="Validade" class="text-danger"></span>
            </div>
    </div>

    <div class="d-grid gap-2 mt-3">   
        <input type="submit" value="Confirmar" class="btn  text-white" style="background-color:#7b67eb"; />
    </div>

    <div  class="d-grid gap-2 d-grid gap-2 mt-2">
    <a role="button" class="btn btn-danger" asp-action="Index"><strong>Voltar</strong></a>
    </div>
</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
