@using Controle_Estoque_Mvc.Enums
@model Controle_Estoque_Mvc.Models.Usuario

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Usuario</h4>
@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center ">Editar Produto</h1>

<form asp-action="Edit">
    
    <div class="row mt-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group col-4" >
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control"  />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group col-8">
                
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control"  />
                <span asp-validation-for="Login" class="text-danger"></span>
               
            </div>
    </div>
    <div class="row">
            <div class="form-group col-5">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email"  class="form-control" id="qntd"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-3 mx-auto">
                 <label asp-for="Perfil" class="control-label"></label>
            <select asp-for="Perfil" class="form-control">
                <option value="">Selecione...</option>
                <option value="@PerfilEnum.Admin">Administrador</option>
                <option value="@PerfilEnum.Padrao">Padrão</option>
                
            </select>
            <span asp-validation-for="Perfil" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control"  />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div> 
            <div class="form-group col-3">
                <label asp-for="DataCadastro" class="control-label"></label>
                <input asp-for="DataCadastro" class="form-control"  />
                <span asp-validation-for="DataCadastro" class="text-danger"></span>
            </div>    
            <div class="form-group col-3 ms-auto">
                <label asp-for="DataAtualizacao" class="control-label"></label>
                <input asp-for="DataAtualizacao" class="form-control"  />
                <span asp-validation-for="DataAtualizacao" class="text-danger"></span>
            </div>    
    </div>
    
         <div class="d-grid gap-2 d-grid gap-2 mt-2"> 
       
            <input type="submit"  value="Save" id="btn" class="btn  text-white" style="background-color: #614ae7" /> 

        </div>

    <div  class="d-grid gap-2 d-grid gap-2 mt-2">
        <a role="button" class="btn btn-danger" asp-action="Index"><strong>Voltar</strong></a>
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    
}

