@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem vindo</h1>
    <h2 class="display-4">Adega Beer</h2>
    <img src="/lib/beer.png" alt="Girl in a jacket" width="500" height="300">
</div>

